* {
    background-color: rgb(193, 242, 108);
}

h1 {
    color: rgb(160, 20, 79);
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin: 150px;
    opacity: 0.4;
    background-color: rgb(161, 199, 212);
}

div {
    height: 500px;
    width: 500px;
    border: 5px double maroon;
    margin-left: 350px;
    box-shadow: 5px 5px 5px 5px;
    color: rgb(43, 37, 37);
    background-image: url(boat.jpg);
    background-size: cover;
    text-align: center;
}

input {
    margin: 50px;
    margin-left: 550px;
}